body {
    background: url(/Users/maggie/Desktop/pythonwebsite/website/static/images/second_background.jpg) no-repeat center center fixed; 
    background-size: cover;
    background-color: #cccccc;
    
   }